<a href="https://colab.research.google.com/github/AasthaRS/FJP-DS/blob/main/FJPDS_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import numpy as np**

In [1]:
import numpy as np

**Create an array of 10 zeros**

In [6]:
arr0 = np.zeros(10, dtype='int32')

In [7]:
arr0

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

**Create an array of 10 ones**

In [8]:
arr1 = np.ones(10)

In [9]:
arr1

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

**Create an array of 10 fives**

In [10]:
arr2 = np.full((10,),5)

In [11]:
arr2

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

**Create an array of the integers from 10 to 50**

New

In [12]:
arr3 = np.arange(10,51)

In [13]:
arr3

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

**Create an array of all the even integers from 10 to 50**

In [15]:
arr4 = np.arange(10,51,2)

In [16]:
arr4

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

**Create a 3x4 matrix with numbers ranging from 0 to 12**

In [18]:
arr5 = (np.arange(0,12)).reshape(3,4)

In [19]:
arr5

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

**Create a 3x3 identity matrix**

In [20]:
arr6 = np.identity(3, dtype='int32')

In [21]:
arr6

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]], dtype=int32)

**Use Numpy to generate a random number between 0 and 1**

Note: output may differ from yours output

In [23]:
print(np.random.uniform(0,1))

0.6362940845605899

**Use Numpy to generate an array of 25 random numbers sampled from a standard normal distribution**

Note: output may differ from yours output

In [24]:
arr7 = np.random.randn(25)
print(arr7)

[ 0.18481967 -0.1784506  -0.6850547  -1.93189194 -1.18907177 -0.25822098
  0.21244397  0.70131841 -0.4990033  -0.83929545 -0.22570676 -0.43996071
  0.48750447 -0.71503971  0.93427337 -1.95611404 -0.71418805  0.19755043
 -0.01335274  0.83085673  0.97370474 -1.14815857  0.89603927 -0.2481577
  0.83535041]

**Create an (10x10)array having numbers from 0.01 to 1 increasing by 0.01**

In [25]:
arr8 = (np.linspace(0.01,1,100)).reshape(10,10)
print(arr8)

[[0.01 0.02 0.03 0.04 0.05 0.06 0.07 0.08 0.09 0.1 ]
 [0.11 0.12 0.13 0.14 0.15 0.16 0.17 0.18 0.19 0.2 ]
 [0.21 0.22 0.23 0.24 0.25 0.26 0.27 0.28 0.29 0.3 ]
 [0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4 ]
 [0.41 0.42 0.43 0.44 0.45 0.46 0.47 0.48 0.49 0.5 ]
 [0.51 0.52 0.53 0.54 0.55 0.56 0.57 0.58 0.59 0.6 ]
 [0.61 0.62 0.63 0.64 0.65 0.66 0.67 0.68 0.69 0.7 ]
 [0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8 ]
 [0.81 0.82 0.83 0.84 0.85 0.86 0.87 0.88 0.89 0.9 ]
 [0.91 0.92 0.93 0.94 0.95 0.96 0.97 0.98 0.99 1.  ]]

#Numpy Indexing and Slicing

In [27]:
ar = (np.arange(25)+1).reshape(5,5)
ar

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

**extract array**

[
  [12,13,14],

  [17,18,19],

  [22,23,24]
]

In [28]:
ar1 = ar[2:,1:4]

In [29]:
ar1

array([[12, 13, 14],
       [17, 18, 19],
       [22, 23, 24]])

**extract array**

[
  [14, 13, 12],

  [19, 18, 17],

  [24, 23, 22]
]

In [30]:
ar2 = ar[2:,3:0:-1]

In [31]:
ar2

array([[14, 13, 12],
       [19, 18, 17],
       [24, 23, 22]])

**extract array**

[
  [24, 23, 22],

  [19, 18, 17],

  [14, 13, 12],  
]

In [33]:
ar3 = ar[4:1:-1,3:0:-1]

In [34]:
ar3

array([[24, 23, 22],
       [19, 18, 17],
       [14, 13, 12]])

#Split Concatenate

In [35]:
ar = np.arange(2,10)
ar

array([2, 3, 4, 5, 6, 7, 8, 9])

**Split array to generate 3 arrays with content**

[2,3,4]

[5, 6]

[]

[7,8,9]

In [39]:
ar1 = np.array_split(ar,[3,5,5])

In [40]:
ar1

[array([2, 3, 4]), array([5, 6]), array([], dtype=int64), array([7, 8, 9])]

**2D**

In [41]:
a = np.array([
              [1,2,3],
              [4,5,6]
])
b = np.array([
              [7,8,9]
])

**Concatenate array to create new array with content**

[
  [1,2,3],

  [4,5,6],
  
  [7,8,9]
]

In [42]:
ar2 = np.concatenate((a,b))

In [43]:
ar2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [44]:
a = np.array([
              [1,2,3],
              [4,5,6]
])
b = np.array([
              [7,8,9, 10],
              [11, 12, 13, 14]
])

**Concatinate array to create new array with content**

[

  [1,2,3, 7,8,9, 10],

  [4,5,6, 11, 12, 13, 14]
  
]

In [45]:
ar3 = np.concatenate((a,b),axis=1)

In [46]:
ar3

array([[ 1,  2,  3,  7,  8,  9, 10],
       [ 4,  5,  6, 11, 12, 13, 14]])

#Broadcasting and Indexing

below array is created using random values so your output may differ.

In [47]:
ar = np.round(np.random.rand(10)*10)
ar

array([ 6., 10.,  9.,  5.,  3.,  5.,  8.,  4.,  2.,  1.])

**create new array containing all numbers which are smaller than 10 in ar**

In [49]:
ar1 = ar[ar<10]
print(ar1)

[6. 9. 5. 3. 5. 8. 4. 2. 1.]

**create new array containing all numbers which are in range [3, 11] in ar**

In [50]:
ar2 = ar[(ar>2) & (ar<12)]
print(ar2)

[ 6. 10.  9.  5.  3.  5.  8.  4.]

**count how many numbers are minimum in ar**

example for arr = [2, 4, 6, 2, 9, 2]

min is 2

there are 3 occurences of 2

In [55]:
arr = np.round(np.random.rand(10)*10)
arr

array([2., 3., 6., 2., 5., 3., 5., 2., 7., 7.])

In [56]:
print(len(arr[arr==arr.min()]))

3

**Create an array of length 20 with first 15 numbers equal to 2 and last 5 numbers = -5**

In [59]:
arr1 = np.concatenate((np.full((15,),2.),np.full((5,),-5.)))

In [60]:
arr1

array([ 2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,  2.,
        2.,  2., -5., -5., -5., -5., -5.])

**Sum min max of all elements of matrix**

In [61]:
mat = np.array(
    [[57., 33., 44., 36., 11., 75., 51., 22., 86., 13.],
       [51., 16., 30., 92., 66., 54., 73.,  2., 25., 12.],
       [68., 14., 90., 27., 44., 54., 26., 61.,  1.,  3.],
       [86., 82., 10., 76., 12.,  1., 15., 89., 75., 12.],
       [85.,  6., 80., 14., 99., 12., 72., 14., 27., 20.]]
)
mat

array([[57., 33., 44., 36., 11., 75., 51., 22., 86., 13.],
       [51., 16., 30., 92., 66., 54., 73.,  2., 25., 12.],
       [68., 14., 90., 27., 44., 54., 26., 61.,  1.,  3.],
       [86., 82., 10., 76., 12.,  1., 15., 89., 75., 12.],
       [85.,  6., 80., 14., 99., 12., 72., 14., 27., 20.]])

In [64]:
print("Sum=",mat.sum())
print("Min=",mat.min())
print("Max=",mat.max())

Sum= 2124.0
Min= 1.0
Max= 99.0

**Standard deviation of mat**

In [67]:
print(np.std(mat))

30.531452634946806

**Sum of all columns of mat**

In [70]:
arr = np.sum(mat,axis=0)

In [71]:
arr

array([347., 151., 254., 245., 232., 196., 237., 188., 214.,  60.])

**create array of dimension same as arr using arr.shape variable**

In [72]:
arr = np.arange(100).reshape(4,5,5)
dim = arr.shape

In [73]:
arr1 = np.arange(arr.size).reshape(arr.shape)

In [74]:
arr1

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24]],

       [[25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49]],

       [[50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59],
        [60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69],
        [70, 71, 72, 73, 74]],

       [[75, 76, 77, 78, 79],
        [80, 81, 82, 83, 84],
        [85, 86, 87, 88, 89],
        [90, 91, 92, 93, 94],
        [95, 96, 97, 98, 99]]])