<a href="https://colab.research.google.com/github/AasthaRS/FJP-DS/blob/main/NaiveBayesProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
adult_df = pd.read_csv("https://raw.githubusercontent.com/DependerKumarSoni/Naive-Bayes/main/adult.csv")

In [ ]:
adult_df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [ ]:
adult_df = pd.read_csv("https://raw.githubusercontent.com/DependerKumarSoni/Naive-Bayes/main/adult.csv",header= None)

In [ ]:
adult_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
adult_df.columns = ['Age', 'WorkClass', 'FnlWgt', 'Education', 'EducationalNum', 'MaritalStatus', 'Occupation', 'Relationship', 'Race', 'Gender', 'CapitalGain', 'CapitalLoss', 'HoursPerWeek', 'NativeCountry', 'Income']

In [ ]:
adult_df.head()

,Age,WorkClass,FnlWgt,Education,EducationalNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
adult_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32561 non-null  int64
 1   WorkClass       32561 non-null  object
 2   FnlWgt          32561 non-null  int64
 3   Education       32561 non-null  object
 4   EducationalNum  32561 non-null  int64
 5   MaritalStatus   32561 non-null  object
 6   Occupation      32561 non-null  object
 7   Relationship    32561 non-null  object
 8   Race            32561 non-null  object
 9   Gender          32561 non-null  object
 10  CapitalGain     32561 non-null  int64
 11  CapitalLoss     32561 non-null  int64
 12  HoursPerWeek    32561 non-null  int64
 13  NativeCountry   32561 non-null  object
 14  Income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
adult_df.isna().sum()

Age               0
WorkClass         0
FnlWgt            0
Education         0
EducationalNum    0
MaritalStatus     0
Occupation        0
Relationship      0
Race              0
Gender            0
CapitalGain       0
CapitalLoss       0
HoursPerWeek      0
NativeCountry     0
Income            0
dtype: int64

In [ ]:
adult_df['WorkClass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: WorkClass, dtype: int64

In [ ]:
adult_df['WorkClass'].replace(' ?', np.nan, inplace = True)

In [ ]:
adult_df['WorkClass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', nan, ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [ ]:
adult_df['WorkClass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: WorkClass, dtype: int64

In [ ]:
adult_df['Education'].value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: Education, dtype: int64

In [ ]:
adult_df['MaritalStatus'].value_counts()

 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: MaritalStatus, dtype: int64

In [ ]:
adult_df['Occupation'].value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: Occupation, dtype: int64

In [ ]:
adult_df['Occupation'].replace(' ?', np.nan, inplace = True)

In [ ]:
adult_df['Occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', nan, ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [ ]:
adult_df['Relationship'].value_counts()

 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: Relationship, dtype: int64

In [ ]:
adult_df['Race'].value_counts()

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: Race, dtype: int64

In [ ]:
adult_df['Gender'].value_counts()

 Male      21790
 Female    10771
Name: Gender, dtype: int64

In [ ]:
adult_df['NativeCountry'].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: NativeCountry, dtype: int64

In [ ]:
adult_df['NativeCountry'].replace(' ?',np.nan, inplace = True)

In [ ]:
adult_df['NativeCountry'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', nan, ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [ ]:
adult_df['Income'].value_counts()

 <=50K    24720
 >50K      7841
Name: Income, dtype: int64

In [ ]:
adult_df.corr()['HoursPerWeek'].sort_values(ascending=False)

HoursPerWeek      1.000000
EducationalNum    0.148123
CapitalGain       0.078409
Age               0.068756
CapitalLoss       0.054256
FnlWgt           -0.018768
Name: HoursPerWeek, dtype: float64

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

encode=OrdinalEncoder()

adult_df[['Occupation', 'Education', 'MaritalStatus', 'NativeCountry', 'Relationship', 'Race','Income']] = encode.fit_transform(adult_df[['Occupation', 'Education', 'MaritalStatus', 'NativeCountry', 'Relationship', 'Race', 'Income']])

In [ ]:
adult_df.head()

,Age,WorkClass,FnlWgt,Education,EducationalNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry,Income
0,39,State-gov,77516,9.0,13,4.0,0.0,1.0,4.0,Male,2174,0,40,38.0,0.0
1,50,Self-emp-not-inc,83311,9.0,13,2.0,3.0,0.0,4.0,Male,0,0,13,38.0,0.0
2,38,Private,215646,11.0,9,0.0,5.0,1.0,4.0,Male,0,0,40,38.0,0.0
3,53,Private,234721,1.0,7,2.0,5.0,0.0,2.0,Male,0,0,40,38.0,0.0
4,28,Private,338409,9.0,13,2.0,9.0,5.0,2.0,Female,0,0,40,4.0,0.0

In [198]:
from sklearn.preprocessing import OneHotEncoder

In [201]:
dummies_Gender = pd.get_dummies(adult_df.Gender)
dummies_WorkClass = pd.get_dummies(adult_df.WorkClass)

In [202]:
adult_df = pd.concat([adult_df, dummies_Gender, dummies_WorkClass], axis = 1)

In [204]:
adult_df.head()

,Age,WorkClass,FnlWgt,Education,EducationalNum,MaritalStatus,Occupation,Relationship,Race,Gender,...,Female,Male,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay
0,39,State-gov,77516,9,13,4,0,1,4.0,Male,...,0,1,0,0,0,0,0,0,1,0
1,50,Self-emp-not-inc,83311,9,13,2,3,0,4.0,Male,...,0,1,0,0,0,0,0,1,0,0
2,38,Private,215646,11,9,0,5,1,4.0,Male,...,0,1,0,0,0,1,0,0,0,0
3,53,Private,234721,1,7,2,5,0,2.0,Male,...,0,1,0,0,0,1,0,0,0,0
4,28,Private,338409,9,13,2,9,5,2.0,Female,...,1,0,0,0,0,1,0,0,0,0

In [207]:
adult_df.drop(['WorkClass','Gender'], axis = 1, inplace =True)

KeyError: ignored

In [208]:
adult_df.head()

,Age,FnlWgt,Education,EducationalNum,MaritalStatus,Occupation,Relationship,Race,CapitalGain,CapitalLoss,...,Female,Male,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay
0,39,77516,9,13,4,0,1,4.0,2174,0,...,0,1,0,0,0,0,0,0,1,0
1,50,83311,9,13,2,3,0,4.0,0,0,...,0,1,0,0,0,0,0,1,0,0
2,38,215646,11,9,0,5,1,4.0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,53,234721,1,7,2,5,0,2.0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,28,338409,9,13,2,9,5,2.0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [209]:
adult_df.columns

Index(['Age', 'FnlWgt', 'Education', 'EducationalNum', 'MaritalStatus',
       'Occupation', 'Relationship', 'Race', 'CapitalGain', 'CapitalLoss',
       'HoursPerWeek', 'NativeCountry', 'Income', ' Female', ' Male',
       ' Federal-gov', ' Local-gov', ' Never-worked', ' Private',
       ' Self-emp-inc', ' Self-emp-not-inc', ' State-gov', ' Without-pay'],
      dtype='object')

In [210]:
from sklearn.model_selection import train_test_split

In [211]:
X=adult_df.drop('Income',axis=1)
y=adult_df['Income']

In [212]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state=2)

In [213]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [214]:
model.fit(X_train, y_train)

GaussianNB()

In [215]:
model.score(X_test, y_test)

0.7908989391401452

In [217]:
y_pred=model.predict(X_test)